<h2>Adrian Booth</h2>

<p>
  Welcome to my personal page. You can find the code used to generate this page on <a href="https://github.com/adrianbooth/adrianbooth.com">github.</a>
</p>
<p>
  This plain old MVC site replaces my Orchard based blog. Gradually I will start to pull in CMS content to replace hard coded parts of the site.
</p>
<p>
  The aim being to have one central place for creating and editing content in a completely seperate application allowing this site to be much smaller and easily scaleable.
</p>
<p>
  Currently this is a .NET Core Web Application where the only change is to edit the stock views to include some of my details.
</p>